<!DOCTYPE html>
<html>
<head>
    <title>Edit Item</title>
    <link rel="stylesheet" href="/static/style.css">
</head>
<body>
    <h1>Edit Item</h1>
    <form method="POST" action="/edit/{{ item.id }}">
        <label for="name">Name:</label>
        <input type="text" class="textbox" id="name" name="name" value="{{ item.name }}" required><br>

        <label for="shortDesc">Short Description:</label>
        <input type="text" class="textbox" id="shortDesc" name="shortDesc" value="{{ item.shortDesc }}" required><br>

        <label for="fullDesc">Full Description:</label>
        <textarea class="textbox" id="fullDesc" name="fullDesc" rows="5" cols="40">{{ item.fullDesc }}</textarea><br>

        <label for="price">Price:</label>
        <input type="number" class="textbox" id="price" name="price" step="any" maxlength=20 value="{{ item.price }}" required><br>

        <label for="cost">Cost:</label>
        <input type="number" class="textbox" id="cost" name="cost" step="any" maxlength=20 value="{{ item.cost }}" required><br>

        <label for="stock">Stock:</label>
        <input type="number" class="textbox" id="stock" name="stock" maxlength=20 value="{{ item.stock }}" required><br>

        <label for="reorder">Minimum Stock:</label>
        <input type="number" class="textbox" id="reorder" name="reorder" maxlength=20 value="{{ item.reorder }}" required><br>

        <br>
        <input type="submit" value="Update">
    </form>
</body>
</html>