<!DOCTYPE html>
<html lang="en">
    <head>
        <title>PIMP</title>
        <link rel="stylesheet" href="/static/style.css">
    </head>
    <body>
        
        <h1>Inventory Order Sheet</h1>
        <table>
            <tr>
                <th>Category</th>
                <th>Name</th>
                <th>Description</th>
                <th>Order Amount</th>
            </tr>
            {% for item in items %}
            {% if item.stock < item.reorder %}
            <tr class="itemRow">
                <td>{{ item.category }}</td>
                <td>{{ item.name }}</td>
                <td>{{ item.shortDesc }}</td>
                <td>{{ item.reorder - item.stock }}</td>
            </tr>
            {% endif %}
            {% endfor %}
        </table>
        <br><br>
        
    
    </body>

    <footer class="noPrint">
        <a class="linkButton" href="/">Return Home</a>
        <p>Created by: Z. Hogarth, 2023</p>
        <p>Version 0.0.1 Alpha</p>
    </footer>
</html>
